rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // REGLAS DE DEPURACION (DEBUG)
    // Permite a cualquier usuario validado leer/escribir en la carpeta de usuarios
    // Esto es para probar si el error es la coincidencia de ID o la estructura
    match /users/{userId}/{document=**} {
       allow read, write: if request.auth != null;
    }
  }
}
